* {
	font-family: 'Oxygen', sans-serif;
	margin: 0;
	padding: 0;
	color: #aebdbf;
	background-color: #18393e;
	font-size: 10px;
	text-decoration: none;
}

h1 {
	font-size: 30px;
	text-align: center;
	margin: 20px;
}

.nav li a {
	display: inline-block;
	float: left;
	margin: 10px;
	font-size: 15px;
}

.nav ul {
	list-style: none;
}

.nav .active {
	color: #86e3f0;
}

.nav li a:hover {
	color: white;
}

.content {
	width: 70%;
	margin: auto;
}

h2 {
	font-size: 20px;
	margin: 10px;
}

p {
	font-size: 15px;
	margin: 15px;
}

p a {
	font-size: 15px;
	color: #86e3f0;
}

.blog h1{
	font-size: 20px;
	margin: 0;
	text-align: left;
}

.blog h2 {
	font-size: 15px;
	margin: 0;
	margin-bottom: 10px;
}

.blog p{
	margin: 0;
}

.blog {
	display: block;
	padding: 15px;
	margin: 5px;
}

.blog:hover {
	box-shadow: 0 0 10px rgba(0,0,0,0.1);
}
