:root {
	--accent-color: #28acb5;
	--accent-color-dark: #22949c;
	--accent-color2: #b54428;
	--bg-color: white;
	--fg-color: black;
	--fg-color2: #696969;
}

* {
	padding: 0;
	margin: 0;
	font-size: 1.01em;
	box-sizing: border-box;
	font-family: 'Oxygen', sans-serif;
	color: var(--fg-color);
	text-decoration: none;
}

p {
	line-height: 2em;
}

.card h1, .post h1, #archive h1 {font-size: 1.2em; padding-top: 10px; padding-bottom: 10px;}

body {background-color: var(--bg-color)}

.post h2 {color: var(--fg-color2)}

#main {
	max-width: 1200px;
	margin: auto;
	margin-top: 50px;
	padding: 20px;
}

#nav {
	float: right;
}

#header h1 {
	padding: 15px;
}

#nav a {
	display: inline-block;
	padding: 15px;
	transition: background-color 0.6s cubic-bezier(0, 0.55, 0.45, 1);
}

#nav a:active, #nav a:hover {
	background-color: rgba(0,0,0,0.1);
}

#header {
	padding-left: 20px;
	padding-right: 20px;
	box-shadow: rgba(0, 0, 0, 0.1) 0px 5px 15px;
	position: fixed;
	width: 100%;
	top: 0;
	background-color: var(--bg-color);
}

#headercontent {
	margin: auto;
	max-width: 1200px;
}

#nav button {
	color: white;
	display: inline-block;
	padding: 8px;
	margin: 7px;
	transition: background-color 0.2s cubic-bezier(0, 0.55, 0.45, 1);
	border: none;
	background-color: var(--accent-color);
	border-radius: 2px;
}

#nav button:hover, #nav button:active {
	background-color: var(--accent-color-dark);
}

#content {
	width: 70%;
	float: left;
	padding-right: 20px;
}

#sidebar {
	width: 30%;
	float: left;
}

#footer {
	clear: both;
	background-color: var(--fg-color);
}

#footercontent {
	max-width: 1200px;
	margin: auto;
	padding: 20px;
	text-align: center;
}

#footer * {color: var(--bg-color);}

.post {
	margin: 10px;
	padding: 30px;
	margin-bottom: 30px;
	box-shadow: rgba(0, 0, 0, 0.05) 0px 0px 0px 1px;
	border-radius: 5px;
}

.post .readmore {
	border-radius: 2px;
	color: var(--accent-color2);
	margin-top: 10px;
	display: inline-block;
	padding: 10px;
	transition: background-color 0.6s cubic-bezier(0, 0.55, 0.45, 1);
}

.post .readmore:active, .post .readmore:hover {
	background-color: rgba(0,0,0,0.1);
}

.card {
	margin-bottom: 20px;
	padding: 30px;
	padding-top: 0;
}

#archive {
	padding: 30px;
	padding-top: 0;
}

#content hr {
	margin: 30px;
	margin-top: 0;
	margin-bottom: 0;
	border-color: rgba(0,0,0,0.4);
}

.card .profile {
	width: 100%;
	padding: 30px;
	border-radius: 50%;
}

#mobilemenu {
	display: none;
}

/* Blog Archive Menu Design */

#archive a {
	display: block;
	padding: 10px;
	padding-left: 0px;
	color: var(--accent-color);
}

#archive a:hover, #archive a:active {
	color: var(--accent-color-dark);
}

/* Mobile Responsive Design */

@media only screen and (max-width: 600px) {

#mobilemenu {
	display: block;
	padding: 17px;
	position: fixed;
	z-index: 1;
	top: 0;
	left: 0;
	background-color: transparent;
	border: none;

}

#mobilemenu:active {
	background-color: rgba(0,0,0,0.1);
}

#mobilemenu img {
	width: 1.01em;
}

#content, #sidebar {
	width: 100%;
}

#content {
	padding-right: 0;
}

#nav {
	background-color: var(--bg-color);
	float: left;
	width: 100%;
	display: none;
}

#nav a {
	display: block;
}

#header * {
	text-align: center;
}

}